hcloud_api_token = ""

server_name         = ""
server_type         = ""
server_location     = ""
server_architecture = "x86" # or "arm" for ARM-based servers

server_wg_privatekey = "" # generated with wg genkey

firewall_name = "spiderman-firewall"

ssh_publickey      = ""
ssh_publickey_name = ""
